<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="AzureArtifacts" value="https://pkgs.dev.azure.com/heiseacademy-azuredevops/MahlzeitExpress/_packaging/MahlzeitExpress@release/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <AzureArtifacts>
      <add key="Username" value="AzureDevOps" />
      <add key="ClearTextPassword" value="%NUGET_AUTH_TOKEN%" />
    </AzureArtifacts>
  </packageSourceCredentials>
</configuration>
